/* Contenitore ul menu */
ul.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
}

ul.menu li {
  background-color: white;
  border-right: 2px solid black;
  margin-bottom: 10px;
}

ul.menu li a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}

ul.menu li a:hover {
  background-color: #f0f0f0;
}