body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 0;
      padding-bottom: 60px;
      display: flex;
      flex-direction: column;
}
    
/* Header */
.header {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 0.5rem;
}
    
/* Navigation */
.nav {
      background-color: #f4f4f4;
      padding: 0.5rem;
}
    
.nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
}
    
.nav ul li {
      display: inline;
      margin-right: 10px;
}
    
/* Main content */
.main {
      padding: 20px;
}
    

/* Footer */
.footer {
      background-color: #333;
      color: #fff;
      text-align: center;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 60px;
      box-sizing: border-box;
}
    